<mat-list>
  <mat-list-item>
    <img mat-line mat-list-avatar src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"/>
    <span mat-line>Luis Aviles</span>
    <span mat-line>Cochabamba</span>
  </mat-list-item>
  <mat-list-item>
      <img mat-line mat-list-avatar src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"/>
     <span mat-line>Jorge Perez</span>
     <span mat-line>Lima</span>
  </mat-list-item>
  <mat-list-item>
      <img mat-line mat-list-avatar src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"/>
    <span mat-line> Maria Rodriguez</span>
    <span mat-line> Bogota</span>
  </mat-list-item>
</mat-list>